{% if site.data.next_event %}
<h3>{{ site.data.next_event.title }}</h3>
<p>{{ site.data.next_event.description }}</p>
<p><span>Date:</span> {{ site.data.next_event.date }}</p>
<p><span>Time:</span> {{ site.data.next_event.time }}</p>
<p><span>Location:</span> {{ site.data.next_event.location }}</p>
{% else %}
<!-- Fallback content when calendar data is not available -->
<h3>Join a Working Meeting!</h3>
<p> 🤖💔 Something broke while getting our calendar data, but don't worry! We usually have a working session on Mondays at StudiTUM. Whether you already have something you are working on for MARC or not, come by. There is enough to do for everyone ✨ If you are new, come by to find out how to get involved.</p>
<p><span>Date:</span> Mondays</p>
<p><span>Time:</span> 18:30 </p>
<p><span>Location:</span> StudiTUM Room 0.01 or 1.01, Gabelsbergerstraße 43</p> 
{% endif %} 
