// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600');

//$brand-color: #20ca5a;
$dark-green:#243c34;
$green: #09603F;
$white: #F5EFED;
$dark-white: #E2D0CA;
$black: #162321;
$light-black: #375853;
$brown: #B0896D;
$orange: #C44900;